body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url("src/assets/background.png");
  background-size: 180px 150px; /* contain veya belirli bir boyut (örneğin, 100px 100px) kullanabilirsiniz */
  background-repeat: repeat; /* Görüntünün tekrar etmesini istemiyorsanız no-repeat kullanın */
  /* Arka plan görüntüsünü merkezleyin */
}

p {
  color: white;
  margin: 4%;
}

h1,
h2 {
  font-family: 'Courier New', Courier, monospace;
  color: yellowgreen;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  color: orange;
  background-color: #4c00ff;
  margin: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 15px;
}
hr {
  border-color: #dc143c;
}
.res {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 63%;
}

.res img {
  width: 50px;
  height: 50px;
}
.tPlate {
  border-radius: 25px;
  padding: 1%;
  margin: 1% 2%;
  border-style: none;
  border-color: #dc143c86;
}
.tPlate h2 {
  margin-top: 0%;
}
#summary {
  background-color: #4c00ff00;
  color: #ffee00d8;
}
.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plate {
  background-color: #203141;
  display: flex;
  flex-direction: column;
  margin: 40px 120px;
  padding: 15px;
  border: #283a4d;
  border-radius: 15px;
  border-style: solid;
}
.plateT {
  background-color: #182430;
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 15px;
  border-radius: 15px;
}

.sPlate {
  background-color: #1a2a38;
  border-radius: 25px;
  padding: 0%;
  margin-left: 0%;
  border-style: solid;
  border-color: #4c00ff;
}
#eSplate {
  border-color: #48ff00;
  margin-left: -10%;
}
#education {
  background-color: #48ff00;
  color: #182430;
}
#gallery {
  display: flex;
  flex-direction: column;
  align-items: center; /* İçerikleri yatayda ortalar */
  margin: 0 auto;
  row-gap: 10px;
  margin: 0% 2% 2% 2%;
  border-color: #f8e80000;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2%;
  margin-bottom: 2%;
  margin: 3% 2% 1% 2%;
}
.gridTwo {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2%;
  margin-bottom: 2%;
  margin: 3% 2% 2% 2%;
}

* {
  box-sizing: border-box;
}

.container {
  height: 300px;
  top: 60px; 
  display: flex;
}

.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #0e161d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
  background-color: #00000000;
}

.image-container {
  position: absolute;
  top: 80px;
  left: calc(50% - 60px);
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: 0.6s ease-out;
}

.card:hover .image {
  opacity: 1;
  transition: 0.6s ease-out;
}

.info {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgb(0, 0, 0));
  padding: 10px;
  box-sizing: border-box;
  transition: 0.6s ease-out;
  opacity: 0;
}

.card:hover .info {
  opacity: 1;
  bottom: 0;
  transition: 0.6s ease-out;
}